<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol allowKeepAlive="true">
			<customHeaders>
				<clear />
				<add name="X-UA-Compatible" value="IE=edge" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
				<add name="Keep-Alive" value="timeout=86400, max=993" />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
				<add name="Pragma" value="no-cache" />
				<!--
				@<BUILD_ONLY_ON_BUILDS:Release %%%%
				<add name="Strict-Transport-Security" value="max-age=31536000"/>
				%%%% @>BUILD_ONLY_ON_BUILDS
				-->
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
		<security>
			<!-- ipSecurityStart -->
			<!-- ipSecurityEnd -->
			<!--
			<authentication>
			<windowsAuthentication enabled="true">
			<providers>
			<clear />
			<add value="Negotiate" />
			</providers>
			</windowsAuthentication>
			</authentication>
			-->
			<requestFiltering allowDoubleEscaping="true">
				<requestLimits maxUrl="32768" maxQueryString="32768" maxAllowedContentLength="524288000" />
			</requestFiltering>
		</security>
		<caching enabled="false" enableKernelCache="false" />
		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
			<remove fileExtension=".LEV" />
			<mimeMap fileExtension=".LEV" mimeType="application/octet-stream" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".ogg" />
			<mimeMap fileExtension=".ogg" mimeType="audio/ogg" />
			<remove fileExtension=".jp2" />
			<mimeMap fileExtension=".jp2" mimeType="image/jp2" />
			<remove fileExtension=".appcache" />
			<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
			<remove fileExtension=".plist" />
			<mimeMap fileExtension=".plist" mimeType="application/x-plist" />
			<remove fileExtension=".ipa" />
			<mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
			<remove fileExtension=".apk" />
			<mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".ttf" />
			<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
			<remove fileExtension=".eot" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<remove fileExtension=".SND" />
			<mimeMap fileExtension=".SND" mimeType="audio/wav" />
			<remove fileExtension=".7z" />
			<mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
			<remove fileExtension=".mp4" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<remove fileExtension=".zip" />
			<mimeMap fileExtension=".zip" mimeType="application/zip" />
			<remove fileExtension=".xml" />
			<mimeMap fileExtension=".xml" mimeType="application/xml" />
			<remove fileExtension=".mjs" />
			<mimeMap fileExtension=".mjs" mimeType="application/javascript" />
			<remove fileExtension=".ink" />
			<mimeMap fileExtension=".ink" mimeType="image/ink" />
			<remove fileExtension="." />
			<mimeMap fileExtension="." mimeType="application/octet-stream" />
			<remove fileExtension=".bin" />
			<mimeMap fileExtension=".bin" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".shard1" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".shard2" mimeType="application/octet-stream" />
		</staticContent>
		<rewrite>
			<rules>
				<!--
				@<BUILD_ONLY_ON_BUILDS:Release - -
				<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
				<match url="(.*)" ignoreCase="true" />
				<conditions logicalGrouping="MatchAll">
				<add input="{HTTP_HOST}" matchType="Pattern" pattern="^127\.0\.0\.1(:\d+)?$" negate="true" />
				<add input="{SERVER_PORT_SECURE}" pattern="^0$" />
				<add input="{HTTP_HOST}" negate="true" pattern="^www\.([.a-zA-Z0-9]+)$" />
				</conditions>
				<action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
				</rule>
				-! - @>BUILD_ONLY_ON_BUILDS
				-->
				<!--
				MAINTANCE_START %%%%
				<rule name="External IP" stopProcessing="true">
				<match url="serverexceptions/(.*)" negate="true" />
				<conditions>
				<add input="{REMOTE_ADDR}" pattern="::1" ignoreCase="false" negate="true" />
				<add input="{REMOTE_ADDR}" pattern="127\.0\.0\.1" ignoreCase="false" negate="true" />
				</conditions>
				<action type="Redirect" url="serverexceptions/exceptionmaintance.html" redirectType="Found" />
				</rule>
				-! - MAINTANCE_END
				-->
				<!-- server system protection (hidden aspx): -->
				<!--
				@<BUILD_ONLY_ON_BUILDS:Release %%%%
				<rule name="ReverseProxyInboundRule2" stopProcessing="true">
				<match url="(libs/Admin.js|web.config)" ignoreCase="false" />
				<action type="Rewrite" url="./serverexceptions/exception.html?error=404" />
				</rule>
				<rule name="ReverseProxyInboundRule3" stopProcessing="true">
				<match url="webservice.php(.*)" ignoreCase="true" />
				<action type="Rewrite" url="./webservices/aspx/AiDPix.aspx{R:1}" />
				</rule>
				<rule name="ReverseProxyInboundRule1" stopProcessing="true">
				<match url="(tmp|export|import|bin|App_Code|backup|webservices|aspnet_client)/(.*)" ignoreCase="false" />
				<conditions>
				<add input="{REMOTE_ADDR}" pattern="127\.0\.0\.1" ignoreCase="false" negate="true" />
				</conditions>
				<action type="Rewrite" url="./serverexceptions/exception404.html" />
				</rule>
				-! - @>BUILD_ONLY_ON_BUILDS
				-->
			<!-- Rewrite rules for microPhotoFrame -->
			<!-- Rule 1a: favicon.ico - no rewrite, serve directly -->
			<rule name="DirectFavicon" stopProcessing="true">
				<match url=".*favicon\.ico$" ignoreCase="true" />
				<action type="None" />
			</rule>
			<!-- Rule 1b: Files in models directory (TensorFlow.js models) - no rewrite, serve directly -->
			<rule name="DirectModels" stopProcessing="true">
				<match url=".*/models/.*" ignoreCase="true" />
				<action type="None" />
			</rule>
			<!-- Rule 1c: Static files (.ink, .json, .png, .css, .cur, .mjs, etc.) - no rewrite, serve directly -->
			<rule name="DirectStaticFiles" stopProcessing="true">
				<match url=".*\.(ink|json|png|jpg|jpeg|gif|svg|css|js|mjs|woff|woff2|ttf|eot|ico|webp|cur)$" ignoreCase="true" />
				<action type="None" />
			</rule>
			<!-- Rule 2: URLs with query string (?) - rewrite to ASPX (but not static files) -->
			<rule name="AppAction" stopProcessing="true">
				<match url="(.*)" ignoreCase="true" />
				<conditions logicalGrouping="MatchAll">
					<add input="{QUERY_STRING}" pattern=".+" />
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_URI}" pattern=".*\.(ink|json|png|jpg|jpeg|gif|svg|css|js|woff|woff2|ttf|eot|ico|webp|cur|mjs)$" negate="true" ignoreCase="true" />
					<add input="{REQUEST_URI}" pattern="^/aspx/" negate="true" ignoreCase="true" />
				</conditions>
				<action type="Rewrite" url="/aspx/microPhotoFrame.aspx?{QUERY_STRING}" appendQueryString="false" />
			</rule>
			<!-- Rule 3: All other URLs - rewrite to index.html -->
			<rule name="AppHTML" stopProcessing="true">
				<match url="(.*)" ignoreCase="true" />
				<conditions logicalGrouping="MatchAll">
					<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
				</conditions>
				<action type="Rewrite" url="./index.html" />
			</rule>
			</rules>
		</rewrite>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<!--
		@<BUILD_ONLY_ON_BUILDS:Release - -
		<httpRuntime  targetFramework="4.8" enableVersionHeader="false" executionTimeout="86399" shutdownTimeout="86399" maxRequestLength="512000" executionTimeout="3600" />
		<compilation debug="false" defaultLanguage="c#">
		<assemblies>
		<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"/>
		</assemblies>
		</compilation >
		- - @>BUILD_ONLY_ON_BUILDS
		-->
		<!-- @<BUILD_NEVER_ON_BUILDS:Release -->
		<httpRuntime targetFramework="4.8" enableVersionHeader="false" maxRequestLength="512000" executionTimeout="3600" />
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="netstandard, Version=2.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" />
				<add assembly="System.IO.Compression, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.IO.Compression.FileSystem, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<!-- @>BUILD_NEVER_ON_BUILDS -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US" uiCulture="en-US" />
		<pages>
			<namespaces>
				<!-- <add namespace="System.Web.Optimization" /> -->
			</namespaces>
		</pages>
	</system.web>
	<system.data>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
